footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $colour-background;
  height: 150px;
    .footer{
      max-width: 1440px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        h2{
          margin-bottom: 20px;
          margin-top: 20px;
          color: #251721;
        }
        .social{
          display: flex;
            &__mg{
              font-size: 1.8rem;
              margin-left: 10px;
              margin-right: 10px;
                a{
                  text-decoration: none;
                  color: #251721;
                    :hover{
                      color: #9065E9;
                    }
                }
            }
        }
    }
}