@charset "UTF-8";
/* Définition des couleurs */
.flexCenter {
  display: flex;
  justify-content: center;
}

/* Définition des polices personnalisées */
@font-face {
  font-family: "vintage";
  src: url("./polices/vintage.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paint";
  src: url("./polices/PAINP___.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("./polices/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Fin des polices personnalisées */
/* ******************** Eléments principaux du site ******************** */
body {
  margin: 0;
  font-family: "roboto";
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  font-family: "paint";
  font-weight: normal;
  margin-bottom: 0;
  color: #251721;
}

h2 {
  font-size: 3rem;
  font-family: "paint";
  font-weight: normal;
}

h3 {
  font-family: "vintage";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
}

/* ******************** Header ******************** */
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 70px;
  background-color: #F4E9F1;
  width: 100%;
  position: fixed;
  z-index: 1;
}
header nav {
  margin: auto;
  padding: 0 60px 0 60px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}
header nav .navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
header nav .navTitle img {
  margin-top: 15px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}
header nav ul li span {
  display: none;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  min-width: 15px;
  padding: 3px;
  position: absolute;
  top: -5px;
  right: 8px;
  font-size: 0.8rem;
  background: #FFC73A;
  border-radius: 15px;
}
header nav ul li a {
  font-size: 1.6rem;
  padding: 5px;
  text-decoration: none;
  color: #251721;
}
header nav ul li a :hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  transition: all 0.1s linear;
}
header nav ul li a :active {
  transform: translateY(2px);
}

.accueil :hover {
  transition: all 0.1s linear;
  color: #99E2D0;
}

/* ******************** Footer ******************** */
footer {
  margin: 100px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4E9F1;
  height: 160px;
}
footer .footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer h2 {
  margin-bottom: 0;
  margin-top: 20px;
  color: #251721;
}
footer .footer p {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 1rem;
}
footer .footer .social {
  display: flex;
}
footer .footer .social__mg {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
}
footer .footer .social__mg a {
  text-decoration: none;
  color: #251721;
}
footer .footer .social__mg a :hover {
  color: #9065E9;
}

.hors-ecran {
  position: absolute;
  left: -99999rem;
}

/* ******************** Page index ******************** */
.banderole {
  background-image: url("/Front/thumb-1920-887690.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banderole__title {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.banderole__title .boutonHome :hover {
  background: -webkit-linear-gradient(280deg, #C58B51, #9065E9);
}
.banderole__title h2 {
  font-size: 8rem;
  margin-bottom: 40px;
}
.banderole__title h3 {
  font-family: "paint";
  font-size: 3rem;
  margin-bottom: 40px;
}
.banderole__title a {
  background-color: white;
  box-shadow: 5px 5px 20px #251721;
  color: #251721;
  border: 2px solid #251721;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 48px;
  width: 160px;
}

.pageHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  max-width: 1024px;
  margin: auto;
}
.pageHome .card {
  margin: 20px 20px 20px 20px;
  padding: 3px;
  box-shadow: 5px 5px 20px #cccccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 240px;
  color: #251721;
}
.pageHome .card img {
  width: 100%;
  height: 80%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}
.pageHome .card .description {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.pageHome .card .view {
  position: absolute;
  width: 93.6%;
  background: #FFC73A;
  color: #251721;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.card:hover .cart {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.card:active .cart {
  transform: translateY(10px);
}

/* ******************** Page Panier ******************** */
#build {
  min-height: 700px;
  color: #251721;
}
#build .recapPanier {
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
#build .recapPanier h2 {
  font-family: "vintage";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

/* *************** Panier ******************** */
.buildTitle {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  color: #00397e;
}
.buildTitle .title {
  width: 50%;
}
.buildTitle .price {
  width: 15%;
}
.buildTitle .quantity {
  width: 15%;
  text-align: center;
}
.buildTitle .total {
  width: 15%;
  text-align: end;
}

#productsContain {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#productsContain .product {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#productsContain .product .decreaseButtons {
  margin-right: 5px;
}
#productsContain .product .increaseButtons {
  margin-left: 5px;
}
#productsContain .product .titleCart {
  width: 50%;
  display: flex;
  align-items: center;
}
#productsContain .product .titleCart i:hover {
  transform: scale(1.1);
}
#productsContain .product .titleCart i:active {
  transform: scale(1);
}
#productsContain .product .priceCart {
  width: 15%;
}
#productsContain .product .quantityInCart {
  width: 15%;
  text-align: center;
}
#productsContain .product .quantityInCart i:hover {
  transform: scale(1.1);
}
#productsContain .product .quantityInCart i:active {
  transform: scale(1);
}
#productsContain .product .totalCart {
  width: 15%;
  text-align: end;
}
#productsContain img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 10px;
  object-fit: cover;
}

.productTotalCost {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  color: #00397e;
}

/* *************** Formulaire de contact ******************** */
#buyForm {
  background-color: #f6f6f6;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 5px 5px 20px #cccccc;
}
#buyForm p {
  font-size: 0.8rem;
  color: #D8000C;
}
#buyForm label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 5px;
}
#buyForm input {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
#buyForm .formBtnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#buyForm .errorForm {
  color: #D8000C;
  font-size: 0.8rem;
  padding: 3px;
  opacity: 0.6;
  position: absolute;
  right: 0px;
  top: 20px;
}

form div {
  margin-top: 1em;
  position: relative;
}

/* ******************** Panier vide ******************** */
#cartEmptyContainer {
  display: none;
  padding-top: 100px;
  min-height: 700px;
}
#cartEmptyContainer .cartEmpty {
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cartEmptyContainer .cartEmpty i {
  font-size: 5rem;
  color: #756372;
}

/* ******************** Header ******************** */
@media all and (max-width: 426px) {
  header nav {
    padding: 0;
  }
  header nav ul li {
    padding-left: 0;
  }
}
/* ******************** Page Products ******************** */
@media all and (max-width: 426px) {
  .card {
    margin: 0 !important;
    padding: 10px !important;
    width: 100% !important;
  }
}
/* ******************** Page Panier ******************** */
@media all and (max-width: 515px) {
  .buildTitle {
    padding-left: 5px;
    padding-right: 5px;
  }

  .title {
    width: 40% !important;
  }

  .total {
    width: 30% !important;
  }

  .quantity {
    width: 30% !important;
  }

  .titleCart a img {
    display: none;
  }

  h3 {
    font-size: 1rem;
  }

  .price {
    display: none;
  }

  .product {
    padding: 10px 5px 10px 5px !important;
  }

  .buttonBuy {
    justify-content: center !important;
  }

  #buyForm {
    padding: 0 5px 20px 5px;
    width: 97%;
  }

  label {
    text-align: left !important;
  }
}
/* ******************** Page Products ******************** */
#detailProduit {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin: auto;
}
#detailProduit .card {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  box-shadow: 5px 5px 20px #cccccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 600px;
}
#detailProduit .card img {
  width: 100%;
  height: 60%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}
#detailProduit .card .detailDescription h3 {
  font-size: 1.8rem;
  color: #251721;
}
#detailProduit .card .detailDescription p {
  color: #493f47;
  font-weight: normal;
}
#detailProduit .card .detailDescription .checkArticle {
  display: flex;
  justify-content: space-between;
}
#detailProduit .card .detailDescription .containerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFC73A;
  box-shadow: 5px 5px 20px #cccccc;
  border-radius: 3px;
  height: 30px;
  width: 160px;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
}
#detailProduit .card .detailDescription a {
  text-decoration: none;
  color: #251721;
}

.accueil a {
  font-size: 1rem;
}

/* ******************** Page confirmation commande ******************** */
.orderContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
.orderContainer h3 {
  font-size: 2rem;
}
.orderContainer a {
  background-color: white;
  box-shadow: 5px 5px 20px #251721;
  color: #251721;
  border: 2px solid #251721;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  width: 160px;
}
.orderContainer .btnOrder :hover {
  background: #FFC73A;
}

/* ******************** Style des boutons généraux ******************** */
.btn {
  height: 48px;
  width: 160px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
}

.btnDecreaseIncrease {
  color: #00397e;
  cursor: pointer;
}

.btnAnim:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
  transition: all 0.1s linear;
}

.btnAnim:active {
  transform: translateY(2px);
}

/* *************** Panier ******************** */
.buttonBuy {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}
.buttonBuy #buttonContinueAchat {
  margin-right: 5px;
  background: #99E2D0;
}
.buttonBuy #buttonBuyBuy {
  background: #FFC73A;
}

#btnClear {
  margin: auto;
  background-color: red;
  height: 48px;
  width: 320px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
}

/* *************** Panier / Formulaire ******************** */
.formBtnValid {
  background: #FFC73A;
}

.formBtnAnnuler {
  background: #99E2D0;
}

/* *************** Page Confirmation commande ******************** */
.cartEmptyButton {
  height: 48px;
  width: 260px;
  background: #FFC73A;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
