/* Définition des polices personnalisées */
@font-face{
  font-family: "vintage";
  src: url("/Front/polices/vintage.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "paint";
  src: url("/Front/polices/PAINP___.TTF");
  font-weight: normal;
  font-style: normal;
}
/* Fin des polices personnalisées */