.banderole{
  background-image: url("/JWDP5/images/thumb-1920-887690.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
    &__title{
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
        .boutonHome 
          :hover{
            background: $colour-background-start;
          }
          a{
          background-color: white;
          box-shadow: 5px 5px 20px #251721;
          color: #251721;
          border: 2px solid #251721;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          height: 40px;
          width: 160px;
        }
    }
}

.pageHome{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin: auto;
    .card{
      margin: 20px 20px 20px 20px;
      padding: 3px;
      box-shadow: 5px 5px 20px #cccccc;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      width: 400px;
      height: 240px;
      color: #251721;  
        img{
          width: 100%;
          height: 80%;
          border-radius: 3px 3px 0 0;
        }
        .description{
          display: flex;
          justify-content: space-between;
          height: 50px;
          align-items: center;
        }
        .view{
          position: absolute;
          width: 93.6%;
          background: $colour-background-start;
          color: #251721;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          cursor: pointer;
          text-align: center;
        }
    }
}

.card:hover .cart{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}


